.black_stroke_box {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 2rem 0.8rem 2rem 0.8rem;
}

.black_stroke_box > .coluna > .linha > p {
    margin: 0.5rem;
}

.dia {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dia > p {
    font-size: 1.5rem;
}

.horario-box {
    justify-content: center;
    padding: 0rem 0.2rem;
}