.foto {
    justify-content: left;
    border-radius: 100%;
    border-color: black;
    border-width: 1rem;
    background-color: blue;
    width: 8rem;
    height: 8rem;
}

.black_outline_box {
    border: 2px solid black;
    border-radius: 0.25rem;
    margin: 1rem 0rem;
    padding: 0.5rem;
}

h2{
    font-weight: 700;
}