.pesquisar {
    position: absolute;
    margin: 30% 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pesquisar > img {
    width: 2rem;
    margin-right: 1rem;
}

.outside-box {
    position: absolute;
    margin: 50% 0;
    /* width: 80%; */
}

.middle-box-1,
.middle-box-2 {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
}

.middle-box-1 > a,
.middle-box-2 > a {
    border: 3px solid black;
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.outside-box > h2 {
    width: 56%;
    text-align: center;
    font-size: 1.5rem;
}

.middle-box-1 > a > img,
.middle-box-2 > a > img {
    float: right;
}

.middle-box-1 > a > p {
    font-size: 0.9rem;
}
.middle-box-2 > a > p {
    font-size: 0.9rem;
}