a {
    display: table;
    margin: 0 auto;
    text-decoration: none;
}

button {
    margin: 2.2rem;
    padding: 0.8rem;
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: aliceblue;
}

button > p {
    font-size: 1rem;
    color: #A86E51;
}

h1 {
    margin-top: 1.8rem;
    margin-bottom: 5rem;
}

button > p {
    padding-right: 0.8rem;
}

.icon {
    padding-left: 0.5rem;
}

.coluna {
    margin-top: 10rem;
}