a {
    display: table;
    margin: 0 auto;
    text-decoration: none;
}

button {
    margin: 5rem;
    padding: 2rem;
    width: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button > p {
    font-size: 2.5rem;
}

h1 {
    margin-bottom: 15rem;
}

button > p {
    padding-right: 3rem;
}

.icon {
    padding-left: 3rem;
}