h1 {
    text-align: center;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.icon{
    height: 6rem;
}

.icon_left{
    position: absolute;
    left: 0px;
    top: 0px;
}

.icon_right{
    position: absolute;
    right: 0px;
    top: 0px;
}