@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap');

html{
    font-family: 'Open Sans', 'Lato';
    background-color: #F5B18F;
}

main {
    padding: 0% 16%;
    display: flex;
    flex-direction: column;
}

h1 {
    z-index: -1;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    position: absolute;
    top: 3rem;
    width: 100%;
}

.coluna {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.linha {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    height: 4rem;
    width: 4rem;
}

.icon_left {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 2rem;
}

.icon_right {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 2rem;
}

.icon_top{
    justify-content: space-between;
}

.icon_outline{
    border: 4px solid black;
    border-radius: 100%;
    margin: 2rem;
}

.separador_v{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 0.1rem;
    margin: 0.5rem 0rem;
}

.separador_h{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    height: 0.1rem;
    width: 100%;
    margin: 0.5rem 0 ;
}