h1 {
    text-align: center;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.icon{
    height: 200px;
}

.arrow_left{
    position: absolute;
}